<p id="notice"><%= notice %></p>

<h1>Sources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Home page url</th>
      <th>Home entry css</th>
      <th>Title css</th>
      <th>Img css</th>
      <th>Intro text css</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.name %></td>
        <td><%= source.home_page_url %></td>
        <td><%= source.home_entry_css %></td>
        <td><%= source.title_css %></td>
        <td><%= source.img_css %></td>
        <td><%= source.intro_text_css %></td>
        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source', new_source_path %>
