<% if @articles %>
<div class="row">

    <% @articles.each do |article| %>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="<%= article.img_url %>" class="card-img-top" alt="...">
            <div class="card-body">
                <small class="text-muted"><%= article.source.name %></small>
                <h5 class="card-title"><a href="<%= article.url %>"><%= article.title %></a></h5>
                <p class="card-text"><%= article.intro_text %></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-success">Like</a>
                    </div>
                    <small class="text-muted"><%= article.created_at.strftime('%m-%e-%y %H:%M') %></small>
                </div>
            </div>
        </div>
    </div>

    <% end %>

</div>
<% end %>