<!DOCTYPE html>
<html>

<head>
    <title>Owletech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">
                <%= yield %>
            </div>
        </div>
    </div>
</body>

</html>